@import url("https://fonts.googleapis.com/css?family=Cabin|Oswald|Bitter|Dancing+Script|Permanent+Marker");
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
@include mediaQ{ }
*/
html, body {
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  -webkit-transition: all 1s;
  transition: all 1s;
  overflow: hidden;
}

@media (min-width: 768px) {
  .biegie {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: 999;
    overflow: hidden;
    visibility: visible;
  }
}

.page-slider {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  max-width: 100%;
  /* ukrywa tylko width */
  overflow-x: hidden;
}

.panel {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
  /* !!! */
}

.panel._active {
  z-index: 10;
}

.trans-layer,
.section {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.trans-layer {
  background: #000;
  -webkit-transform: translateY(-200%) skew(0) rotate(0);
          transform: translateY(-200%) skew(0) rotate(0);
  /*scale(2);*/
  /* !!! trans : 200%*/
  /*border-radius: 50%;*/
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
}

._active .trans-layer {
  -webkit-transform: translateY(0) skew(0) rotate(0);
          transform: translateY(0) skew(0) rotate(0);
  /*scale(2);*/
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.section {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

._active .section {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
}

.section-content {
  width: 100%;
  height: auto;
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.section-content-title {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 20;
  /*
        $ff-c: 'Cabin Condensed', monospace;
$ff-o: 'Oswald';
$ff-b: 'Bitter';
$ff-d: 'Dancing+Script';
$ff-p: 'Permanent+Marker';
*/
}

.section-content-title h1 {
  color: #dfdfdf;
  text-align: center;
  font-family: "Bitter";
  text-transform: uppercase;
  line-height: 60px;
}

._active .section-content {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition-delay: 1000ms;
          transition-delay: 1000ms;
}

/*        SCROLLBAR        */
/* width */
::-webkit-scrollbar {
  width: 0.5%;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.question-svg {
  position: absolute;
  top: 0;
  right: 0%;
  height: 35px;
  width: 35px;
  z-index: 99;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

@media (max-width: 768px) {
  .question-svg {
    display: none;
  }
}

.question-svg:hover {
  cursor: pointer;
}

.swap-q-mark-1 {
  background: url(./svg/q-mark.svg);
}

.swap-q-mark-2 {
  background: url(./svg/q-mark-exit.svg);
}

.backDiv {
  margin: 0 auto;
  display: none;
  position: absolute;
  top: 48px;
  right: 35px;
  background: -webkit-gradient(linear, left top, left bottom, from(#c4a601), to(#8a7500));
  background: linear-gradient(to bottom, #c4a601 0%, #8a7500 100%);
  height: auto;
  width: 100px;
  z-index: 98;
  border: 1px solid #000;
}

.backDiv__maintext {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.backDiv__github, .backDiv__portfolio {
  padding-left: 3px;
}

.backDiv__github a, .backDiv__portfolio a {
  text-decoration: none;
  color: white;
}

.show-backDiv {
  display: block;
}

/* LEFT NAV DOTS */
.mobile-menu-open,
.mobile-exit,
.mobile-menu-container {
  display: none;
}

.nav-dots {
  position: fixed;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%) translateX(-100px);
          transform: translateY(-50%) translateX(-100px);
  z-index: 20;
  width: 100px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.nav-dot {
  position: relative;
  left: 0;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid #343434;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
}

.nav-dot span {
  opacity: 1;
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-align: justify;
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-dot:hover span {
  color: white;
}

.nav-dot.active {
  background: red;
}

.nav-dot.active span {
  color: white;
}

.arrow-box {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 110px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 4px solid rgba(189, 189, 189, 0.404);
  border-radius: 50%;
  z-index: 99;
}

@-webkit-keyframes arrow-box-forward {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    border-radius: 0%;
    left: 10px;
  }
  100% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    border-radius: 50%;
    left: 110px;
  }
}

@keyframes arrow-box-forward {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    border-radius: 0%;
    left: 10px;
  }
  100% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    border-radius: 50%;
    left: 110px;
  }
}

@-webkit-keyframes arrow-box-back {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    border-radius: 50%;
    left: 110px;
  }
  100% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    border-radius: 0%;
    left: 10px;
  }
}

@keyframes arrow-box-back {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    border-radius: 50%;
    left: 110px;
  }
  100% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    border-radius: 0%;
    left: 10px;
  }
}

#arrow {
  position: absolute;
  top: 50%;
  left: 110px;
  -webkit-transform: translateY(-50%) rotate(-180deg);
          transform: translateY(-50%) rotate(-180deg);
  width: 50px;
  z-index: 99;
}

#arrow:hover {
  cursor: pointer;
}

@-webkit-keyframes arrow-anim-forward {
  0% {
    -webkit-transform: translateY(-50%) rotate(0deg);
            transform: translateY(-50%) rotate(0deg);
    left: 10px;
  }
  100% {
    -webkit-transform: translateY(-50%) rotate(-180deg);
            transform: translateY(-50%) rotate(-180deg);
    left: 110px;
  }
}

@keyframes arrow-anim-forward {
  0% {
    -webkit-transform: translateY(-50%) rotate(0deg);
            transform: translateY(-50%) rotate(0deg);
    left: 10px;
  }
  100% {
    -webkit-transform: translateY(-50%) rotate(-180deg);
            transform: translateY(-50%) rotate(-180deg);
    left: 110px;
  }
}

@-webkit-keyframes arrow-anim-back {
  0% {
    -webkit-transform: translateY(-50%) rotate(180deg);
            transform: translateY(-50%) rotate(180deg);
    left: 110px;
  }
  100% {
    -webkit-transform: translateY(-50%) rotate(0deg);
            transform: translateY(-50%) rotate(0deg);
    left: 10px;
  }
}

@keyframes arrow-anim-back {
  0% {
    -webkit-transform: translateY(-50%) rotate(180deg);
            transform: translateY(-50%) rotate(180deg);
    left: 110px;
  }
  100% {
    -webkit-transform: translateY(-50%) rotate(0deg);
            transform: translateY(-50%) rotate(0deg);
    left: 10px;
  }
}

@media screen and (max-width: 768px) {
  .mobile-menu-container {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 60px;
    z-index: 19;
  }
  .mobile-menu-open {
    display: block;
    z-index: 20;
    position: absolute;
    top: 5px;
    right: 25px;
    width: 55px;
    height: 55px;
    border-radius: 5px;
  }
  .mobile-backdrop {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.65);
    z-index: 19;
  }
  .nav-dots {
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
    z-index: 20;
    width: 100%;
    height: 500px;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
  }
  .nav-dots .mobile-exit {
    margin: 10px auto;
    display: block;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .nav-dots .mobile-exit > * {
    height: 100%;
    width: 50px;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .nav-dots .nav-dot {
    position: relative;
    left: 0;
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    border: 1px solid #343434;
    background: rgba(0, 0, 0, 0.2);
    font-family: 'Oswald', sans-serif;
  }
  .nav-dots .nav-dot.active {
    background: rgba(255, 255, 255, 0.25);
  }
  .arrow-box,
  #arrow {
    display: none;
  }
}

#section-1 {
  overflow: hidden;
  background: #343434;
}

#section-1 .section-content {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(20%, rgba(0, 0, 0, 0.15)), color-stop(80%, rgba(0, 0, 0, 0.15)), to(black)), url("./img-photography/main-page.jpg");
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.15) 20%, rgba(0, 0, 0, 0.15) 80%, black 100%), url("./img-photography/main-page.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#section-1 .section-content__description {
  position: absolute;
  top: 30%;
  left: 22.5%;
  font-size: 1.5em;
  -webkit-transform: rotateZ(-20deg) scale(1.5);
          transform: rotateZ(-20deg) scale(1.5);
  font-family: Oswald, sans-serif;
}

#section-1 .section-content__description h1 {
  font-size: 2em;
  text-transform: uppercase;
  color: #73a0c5;
  position: relative;
  margin: 0;
  letter-spacing: 11px;
  font-weight: 900;
}

#section-1 .section-content__description h1::after, #section-1 .section-content__description h1::before {
  content: '';
  display: block;
  height: 30px;
  width: 160px;
  position: absolute;
  bottom: -42px;
  left: 2px;
}

#section-1 .section-content__description h1::before {
  bottom: -38px;
  left: 0px;
  background: rgba(0, 0, 0, 0.25);
}

#section-1 .section-content__description h1::after {
  bottom: -44px;
  left: 4px;
  background: rgba(0, 0, 0, 0.25);
}

#section-1 .section-content__description h3, #section-1 .section-content__description h4 {
  color: #B7B7B7;
  text-indent: 175px;
  line-height: 30px;
  margin: 0;
}

#section-1 .section-content__description h4 {
  text-indent: 225px;
}

#section-1 .section-content__description h3 {
  margin-top: 10px;
}

#section-1 .section-content__description span {
  color: #846F67;
}

@media (max-width: 768px) {
  #section-1 .section-content__description {
    -webkit-transform: rotateZ(0deg) scale(1.25) translate(-50%, -50%);
            transform: rotateZ(0deg) scale(1.25) translate(-50%, -50%);
    top: 38%;
    left: 50%;
  }
}

/* --------------------- SECTION-2 main --------------------- */
#section-2 {
  background: #343434;
  width: 100%;
  height: 100%;
  display: block;
  /*scroll-behavior: smooth;*/
}

#section-2 .section-content {
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(black), color-stop(30%, rgba(0, 0, 0, 0)), color-stop(70%, rgba(0, 0, 0, 0)), to(black)), url("./img-photography/292.jpg");
  background: linear-gradient(to right, black 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 70%, black 100%), url("./img-photography/292.jpg");
  background-size: cover;
  width: 100%;
  margin: auto;
  height: 100%;
  overflow-y: scroll;
}

#section-2 .tabs-container {
  margin: 0 auto;
  width: 100%;
  height: auto;
}

#section-2 .tabs-container .panel-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
}

#section-2 .tabs-container .panel-top ul {
  margin-top: 20px;
  position: relative;
  border-radius: 3px;
  border: 1px white solid;
  background: rgba(255, 255, 255, 0.15);
}

@media screen and (max-width: 768px) {
  #section-2 .tabs-container .panel-top ul {
    margin-top: 65px;
  }
}

#section-2 .tabs-container .panel-top li {
  z-index: 799;
  font-size: 16px;
}

#section-2 .tabs-container .panel-top a {
  padding: 8px 80px;
  font-family: 'Frandklin gothic medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  list-style: none;
  text-decoration: none;
  font-family: "Permanent+Marker";
  font-size: 1.15em;
}

#section-2 .tabs-container .panel-top .hor-panel {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  border-radius: 3px;
  cursor: pointer;
  z-index: 0;
  -webkit-box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.41);
          box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.41);
}

#section-2 .tab-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
  padding: 5px;
}

#section-2 .tab-content_casual {
  min-height: 100vh;
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: (minmax(150px, 1fr))[4];
      grid-template-rows: repeat(4, minmax(150px, 1fr));
  margin: 100px 10% 300px 10%;
}

#section-2 .tab-content_casual .big {
  grid-column: span 2;
  grid-row: span 2;
}

#section-2 .tab-content_casual .small {
  grid-column: span 1;
  grid-row: span 1;
}

#section-2 .tab-content_casual img:nth-of-type(2),
#section-2 .tab-content_casual img:nth-of-type(3),
#section-2 .tab-content_casual img:nth-of-type(5),
#section-2 .tab-content_casual img:nth-of-type(6),
#section-2 .tab-content_casual img:nth-of-type(7),
#section-2 .tab-content_casual img:nth-of-type(11),
#section-2 .tab-content_casual img:nth-of-type(12),
#section-2 .tab-content_casual img:nth-of-type(15) {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

#section-2 .tab-content_casual img:nth-of-type(9) {
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
}

#section-2 .tab-content .hero-img {
  max-height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(0.75);
          filter: brightness(0.75);
  margin-bottom: 100px;
}

#section-2 .tab-content_drama {
  margin: 0 10%;
}

#section-2 .tab-content_drama__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 500px;
}

#section-2 .tab-content_drama__container .picture {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 10px 0;
  -ms-grid-column-align: end;
      justify-self: end;
}

#section-2 .tab-content_drama__container .picture img {
  width: 350px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
  border: 5px solid white;
  border-radius: 3px;
}

#section-2 .tab-content_drama__container .container-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  margin-left: 5px;
}

#section-2 .tab-content_drama__container .container-text__top {
  background: white;
  color: black;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 1.25em;
  max-width: 200px;
  padding-left: 5px;
}

#section-2 .tab-content_drama__container .container-text__bot {
  background: -webkit-gradient(linear, left top, right top, from(#707070), color-stop(rgba(139, 139, 139, 0.507)), to(rgba(139, 139, 139, 0)));
  background: linear-gradient(to right, #707070, rgba(139, 139, 139, 0.507), rgba(139, 139, 139, 0));
  color: black;
  position: relative;
}

#section-2 .tab-content_drama__container .container-text__bot-desc {
  display: block;
  color: white;
  margin-left: 5px;
  max-width: 80%;
}

#section-2 .tab-content_drama__container .container-text__bot-desc::after {
  content: '';
  display: block;
  margin: 10px 0 10px 5px;
  width: 30%;
  height: 2px;
  background: black;
}

#section-2 .tab-content_drama__container .container-text__bot-author {
  display: block;
  color: black;
  font-style: italic;
  margin-left: 5px;
}

#section-2 .tab-content_drama__container .container-text__bot::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -15px;
  -webkit-transform: translateY(-50%) rotatez(45deg);
          transform: translateY(-50%) rotatez(45deg);
  background: #707070;
  width: 30px;
  height: 30px;
  z-index: -1;
}

#section-2 .tab-content_event {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: (minmax(150px, 1fr))[7];
      grid-template-rows: repeat(7, minmax(150px, 1fr));
  margin: 100px 10%;
  grid-auto-flow: dense;
}

#section-2 .tab-content_event .featured {
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: 2 / 7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(white));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, white 100%);
}

#section-2 .tab-content_event .featured-text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  z-index: 10;
  color: white;
  font-size: 3em;
}

#section-2 .tab-content_event .small {
  grid-column: span 2;
  grid-row: span 2;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

/* --------------------- SECTION-3 --------------------- */
#section-3 {
  background: #343434;
  font-size: 3em;
}

#section-3 .section-content {
  background: #2E2E2E;
}

.horizontalScroll {
  width: 100vh;
  height: 100vw;
  overflow-y: scrol;
  overflow-x: hidden;
  background: #2E2E2E;
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transform: rotate(-90deg) translate3d(0, -100vh, 0);
          transform: rotate(-90deg) translate3d(0, -100vh, 0);
  padding-top: 350px;
}

.horizontalScroll > * {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: rotate(90deg) translate3d(25vw, -100vh, 0) skew(-15deg);
          transform: rotate(90deg) translate3d(25vw, -100vh, 0) skew(-15deg);
  margin-top: -50%;
}

.block {
  display: block;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

.block-bg {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: skew(15deg) scale(1.5);
          transform: skew(15deg) scale(1.5);
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.65;
}

.block-bg:hover {
  opacity: 1;
  -webkit-transform: skew(15deg) scale(1.625);
          transform: skew(15deg) scale(1.625);
}

.horizontalScroll .block:nth-child(1) .block-bg {
  background: url(./img-photography/outdoor/outdoor1.jpg);
  background-size: cover;
  background-position: 50% 150px;
  background-repeat: no-repeat;
}

.horizontalScroll .block:nth-child(2) .block-bg {
  background: url(./img-photography/outdoor/outdoor2.jpg);
  background-size: cover;
  background-position: 50% 100px;
  background-repeat: no-repeat;
}

.horizontalScroll .block:nth-child(3) .block-bg {
  background: url(./img-photography/outdoor/outdoor3.jpg);
  background-size: cover;
  background-position: 50% 150px;
  background-repeat: no-repeat;
}

.horizontalScroll .block:nth-child(4) .block-bg {
  background: url(./img-photography/outdoor/outdoor4.jpg);
  background-size: cover;
  background-position: 50% 150px;
  background-repeat: no-repeat;
}

.horizontalScroll .block:nth-child(5) .block-bg {
  background: url(./img-photography/outdoor/outdoor5.jpg);
  background-size: cover;
  background-position: 50% 150px;
  background-repeat: no-repeat;
}

.horizontalScroll .block:nth-child(6) .block-bg {
  background: url(./img-photography/outdoor/outdoor6.jpg);
  background-size: cover;
  background-position: 50% 150px;
  background-repeat: no-repeat;
}

.horizontalScroll .block:nth-child(7) .block-bg {
  background: url(./img-photography/outdoor/outdoor1.jpg);
  background-size: cover;
  background-position: 50% 150px;
  background-repeat: no-repeat;
}

.horizontalScroll .block:nth-child(8) .block-bg {
  background: rgba(0, 0, 0, 0.26);
  background-size: cover;
  background-repeat: no-repeat;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 28px;
}

/* --------------------- SECTION-4 --------------------- */
#section-4 {
  background: #343434;
  width: 100%;
  overflow-y: scroll;
}

#section-4 .section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 80%;
  /*max-height: auto;*/
  background: rgba(67, 67, 67, 0.89);
  height: auto;
  margin: auto;
}

.comp-wrapper {
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section-4 h1:nth-child(2) {
  margin-bottom: 150px;
}

#section-4 .inner-content2 h4 {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  width: 100%;
  margin-top: 25px;
  padding-top: 25px;
  border-top: 2px solid black;
  -o-border-image: linear-gradient(to right, rgba(67, 67, 67, 0.89), black, rgba(67, 67, 67, 0.89));
     border-image: -webkit-gradient(linear, left top, right top, from(rgba(67, 67, 67, 0.89)), color-stop(black), to(rgba(67, 67, 67, 0.89)));
     border-image: linear-gradient(to right, rgba(67, 67, 67, 0.89), black, rgba(67, 67, 67, 0.89));
  border-image-slice: 3;
}

.tabs-container2 {
  width: 100%;
  margin: auto;
  padding-bottom: 150px;
}

.tabs-container2 ul {
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}

.tabs-container2 li {
  z-index: 799;
}

.tabs-container2 a {
  padding: 0;
}

.inner-content2 {
  min-height: 500px;
}

.tabs-container2 .nav img {
  max-height: 120px;
}

.tab-content,
.tab-content2 {
  width: 100%;
  margin: 0;
  height: auto;
}

#section-4 .nav {
  height: 120px;
  width: 900px;
  overflow-x: scroll;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#secition-4 .nav-link {
  padding: 0;
}

/* --------------------- SECTION-5 --------------------- */
#section-5 {
  font-size: 22px;
  background: #343434;
  width: 100%;
  overflow-y: scroll;
}

#section-5 .section-content {
  color: black;
  /*
    display: flex;
    flex-flow: column;
    align-items: center;
     */
  background: #fff;
  width: 100%;
  padding-left: 9.8%;
  height: auto;
  font-family: 'Cabin', sans-serif;
}

.section-content__section-1,
.section-content__section-2,
.section-content__section-3,
.section-content__section-4 {
  width: 100%;
  height: 100vh;
}

.parallax-p {
  padding: 20px 50px;
  height: auto;
}

.pimg {
  max-width: 100%;
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
}

.pimg1 {
  max-width: 100%;
  background: url("./img-photography/section-5/camera-daylight-daytime-898766.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: 80% 10%;
  height: 20%;
}

.pimg2 {
  background: url("./img-photography/section-5/aperture-blur-camera-1093065.jpg");
  background-position: 25% 0%;
  background-attachment: fixed;
}

.pimg3 {
  background: url("./img-photography/section-5/camera-close-up-dusk-1500590.jpg");
  background-position: 80% 60%;
  background-attachment: fixed;
}

.pimg4 {
  background: url("./img-photography/section-5/abstract-art-blur-240230.jpg");
  background-position: 30% 20%;
  background-attachment: fixed;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 80%;
  text-align: center;
  color: #fff;
  font-size: 27px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  letter-spacing: 8px;
  text-transform: uppercase;
}

/* padding very bottom */
#section-5 .section-content > div:nth-last-child(1) {
  padding-bottom: 200px;
}

@media (max-width: 768px) {
  .pimg1, .pimg2, .pimg3, .pimg4 {
    background-attachment: scroll;
  }
}

.section-content__section-5 {
  width: 100%;
  max-height: 100vh;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 150px;
  padding: 100px;
}

.section-content__section-5 img:nth-child(2),
.section-content__section-5 img:nth-child(3) {
  max-height: 300px;
}

.section-5__flickr {
  margin-top: 75px;
}

#tipsRules {
  margin-left: 20px;
}

#tipsRules div h4 {
  background: #d4d4d4;
}

#tipsRules div li {
  margin-left: 60px;
}
/*# sourceMappingURL=style-photography.css.map */