/* --------------------- SECTION-2 main --------------------- */


#section-2{
    
    background: #343434;
    width: 100%;
    height: 100%;
        display: block;
    /*scroll-behavior: smooth;*/

    .section-content{
        position: relative;
        
        background: 
        linear-gradient(
            to right, 
            rgb(0, 0, 0) 0%, 
            rgba(0, 0, 0, 0) 30%, 
            rgba(0, 0, 0, 0) 70%, 
            rgb(0, 0, 0) 100%),
        url("./img-photography/292.jpg");

        background-size: cover;
        width: 100%;
        margin: auto;
        height: 100%;
        overflow-y: scroll;

        
   }
   
    .tabs-container{
        margin: 0 auto;
        width: 100%;
        height: auto;

        .panel-top{
            position: sticky;
            top: 0;
            z-index: 99;
            
            ul{
                margin-top: 20px;
                position: relative;
                border-radius: 3px;
                border: 1px white solid;
                background: rgba(255, 255, 255, 0.15);

                @media screen and (max-width: 768px){
                    margin-top: 65px;
                }
                li{
                    z-index: 799;
                    font-size: 16px;
                    a{
                        padding: 8px 80px;
                        font-family: 'Frandklin gothic medium', 'Arial Narrow', Arial, sans-serif;
                        color: white;   
                        list-style: none;
                        text-decoration: none;
                        font-family: $ff-p;
                        font-size: 1.15em;
                    }
                }

                @include mediaQ{ 
                    width: 100%;
                    li{
                        width: 33%;
                        height: 50px;
                        text-align: center;

                        a{
                            height: 100%;
                            width: 100%;
                            text-align: center;
                            padding: 0;
                            line-height: 50px;
                        }
                    }
                }
            }
                
            



            .hor-panel{
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgb(0, 0, 0);
                border-radius: 3px;
                cursor: pointer;
                z-index: 0;
                box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.41);

                
            }
        }
        
        
    }



    .tab-content{

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top center;
            padding: 5px;
        }


        &_casual{
            min-height: 100vh;
            max-width: 100%;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(4, minmax(150px, 1fr));
            margin: 100px 10% 300px 10%;

            .big{
                grid-column: span 2;
                grid-row: span 2;
            }
            .small{
                grid-column: span 1;
                grid-row: span 1;
            }

            img:nth-of-type(2),
            img:nth-of-type(3),
            img:nth-of-type(5),
            img:nth-of-type(6),
            img:nth-of-type(7),
            img:nth-of-type(11),
            img:nth-of-type(12),
            img:nth-of-type(15){
                transform: translateY(50%);

                @include mediaQ{ 
                    transform: translateY(0%);
                }
            }
            
            img:nth-of-type(9){
                transform: translateY(25%);

                @include mediaQ{ 
                    transform: translateY(0%);
                }
            }

            // MOBILE CASUAL
            @include mediaQ{ 
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: unset;
                grid-auto-rows: minmax(225px, 1fr);
                margin: 50px 2% 100px 2%;
                height: auto;
                grid-auto-flow: dense;
                .big{
                    grid-column: span 2;
                    grid-row: span 2;
                }
                .small{
                    grid-column: span 1;
                    grid-row: span 1;
                }
                
            }

        }
        

        .hero-img{
            max-height: 300px;
            width: 100%;
            object-fit: cover;
            filter: brightness(0.75);
            margin-bottom: 100px;
        }
        
        &_drama{
            margin: 0 10%;

            &__container{
                display: flex;
                flex-direction: row;
                align-content: center; //vertically
                justify-content: center; //row
                max-height: 500px;
                .picture{
                    flex: 1;
                    margin: 10px 0;
                    justify-self: end;
                    img{
                        width: 350px;
                        height: 400px;
                        object-fit: cover;
                        object-position: top center;
                        border: 5px solid white;
                        border-radius: 3px;
                    }
                }

                .container-text{
                    flex: 1;
                    margin: 10px 0px;
                    display: flex;
                    flex-direction: column;
                    align-content: center;
                    justify-content: center;
                    
                    text-align: left;
                    margin-left: 5px;
                   
                    &__top{
                        //display: block;
                        background: white;
                        color: black;
                        margin-bottom: 5px;
                        text-transform: uppercase;
                        font-size: 1.25em;
                        max-width: 200px;
                        padding-left: 5px;
                    }
                    &__bot{
                       //display: block;
                        background: linear-gradient(
                            to right,
                            rgb(112, 112, 112),
                            rgba(139, 139, 139, 0.507),
                            rgba(139, 139, 139, 0.0)
                            );
                         
                        color: black;
                        &-desc{
                            display: block;
                            color: white;
                            margin-left: 5px;
                            max-width: 80%;
                            &::after{
                                content: '';
                                display: block;
                                margin: 10px 0 10px 5px;
                                width: 30%;
                                height: 2px;
                                background: black;
                            }
                        }
                        &-author{
                            display:block;
                            color: black;
                            font-style: italic;
                            margin-left: 5px;
                        }
                        position: relative;
                        &::after{
                            content:'';
                            position: absolute; top:50%; left: -15px;
                            transform: translateY(-50%) rotatez(45deg);
                            background: rgb(112, 112, 112);
                            width: 30px; height: 30px;
                            z-index: -1;
                        }
                    }
                }
            }

            // MOBILE DRAMA
            @include mediaQ{
                margin: 0 1.5%;
                &__container{
                    .container-text{
                        justify-content: start;

                        &__top{
                            margin-left: 20px;
                            position: relative;
                            &::after{
                                content:'';
                                position: absolute; top:50%; left: -15px;
                                transform: translateY(-50%) rotatez(45deg);
                                background: rgb(255, 255, 255);
                                width: 10px; height: 10px;
                                z-index: -1;
                            }
                        }
                        &__bot{
                            background: linear-gradient(
                                to bottom,
                                rgb(112, 112, 112),
                                rgba(139, 139, 139, 0.507),
                                rgba(139, 139, 139, 0.0)
                                );
                            min-height: 200px;
                            &-author{
                           
                            }
                            &::after{
                               all: unset;
                            }
                        }
                    }
                }
            }
        }

        &_event{
            display: grid;
            grid-template-columns: repeat(6, 1fr); 
            grid-template-rows: repeat(7, minmax(150px, 1fr));
            margin: 100px 10%;
            grid-auto-flow: dense;
            .featured{
                grid-column: 2 / 7;
                grid-row: 1 / 4;
                background: 
                linear-gradient(
                    to bottom, 
                    rgba(0,0,0,0) 0%,
                    rgb(255,2525,255) 100%);
            }
            .featured-text{
                grid-column: 1 / 3;
                grid-row: 2 / 3;
                z-index: 10;
                color: white;
                font-size: 3em;
            }

            .small{
                grid-column: span 2;
                grid-row: span 2;
                filter: brightness(80%);
            }
            
        @include mediaQ{
            margin: 100px 2%;
        }

        }
    }

}