/* --------------------- SECTION-2 main --------------------- */


#section-2{
    font-size: 3em;
    background: #343434;
    width: 100%;
    height: 100%;
        display: block;
    /*scroll-behavior: smooth;*/

    .section-content{
        background: url("./img-photography/astronomy-constellation-dark-998641.jpg");
        filter: alpha(opacity=15);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        margin: auto;
        height: 100%;
        overflow: hidden;

   
            overflow-y: scroll;
     
   }
   .panel-top{
       position: sticky;
       top: 0;
   }

   a{
        list-style: none;
        text-decoration: none;
        color: black;
    }




    .active-port{
        background: red;
    }

    .tabs-container{
        margin: 0 auto;
        width: 100%;
        height: auto;
    }

    .tabs-container ul{
        margin-top: 20px;
        position: relative;
        border-radius: 3px;
        border: 1px white solid;
    }

    .tabs-container li{
        z-index: 799;
        font-size: 16px;
    }

    .tabs-container a{
        padding: 8px 80px;
        font-family: 'Frandklin gothic medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: none;
        color: black;
    }

   

    .hor-panel{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(201, 0, 0, 0.55);
        border-radius: 3px;
        cursor: pointer;
        z-index: 0;
        box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.41);
    }


    // INNER CONTENT AREA GRID

    .inner-content{
        /*
        min-height: 100vh;
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, 1fr);
        margin: 100px 10%;
        */
    }
   
    .inner-content img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top center;
        padding: 5px;
    }

    .tab-content{

        &_casual{
            min-height: 100vh;
            max-width: 100%;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(4, 1fr);
            margin: 100px 10%;

            .big{
                grid-column: span 2;
                grid-row: span 2;
            }
            .small{
                grid-column: span 1;
                grid-row: span 1;
            }
        }
        &_drama{

        }

        &_event{
            display: grid;
            grid-template-columns: repeat(6, 1fr); 
            grid-template-rows: repeat(7, minmax(150px, 1fr));
            margin: 100px 10%;
            grid-auto-flow: dense;
            .featured{
                grid-column: 2 / 7;
                grid-row: 1 / 4;
                background: 
                linear-gradient(
                    to bottom, 
                    rgba(0,0,0,0) 0%,
                    rgb(255,2525,255) 100%);
            }
            .featured-text{
                grid-column: 1 / 3;
                grid-row: 2 / 3;
                z-index: 10;
                color: white;
            }

            .small{
                grid-column: span 2;
                grid-row: span 2;
                filter: brightness(80%);
            }
        }
    }

}