/* --------------------- SECTION-5 --------------------- */
#section-5 {
  font-size: 22px;

  background: #343434;
  width: 100%;
  overflow-y: scroll;
}

#section-5 .section-content {
  color: black;
  /*
    display: flex;
    flex-flow: column;
    align-items: center;
     */
  background: #fff;
  width: 100%;
  //padding-left: 9.8%;
  height: auto;
  font-family: 'Cabin', sans-serif;
}

#tipsRules {
  padding-top: 50px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 768px) {
    width: 95%;
  }

  h2 {
    text-align: center;
    background: #a3a3a3;
    padding: 20px;
  }
  list-style-position: inside;
}

.section-content__section-1,
.section-content__section-2,
.section-content__section-3,
.section-content__section-4 {
  width: 100%;
  height: 100vh;
  h2 {
    text-align: center;
  }
}

.parallax-p {
  padding: 20px 100px;
  text-align: center;
  height: auto;

  @media (max-width: 540px) {
    padding: 10px 2.5px;
  }
}
.pimg {
  max-width: 100%;
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 400px;
}
.pimg1 {
  max-width: 100%;
  background: url('./img-photography/section-5/camera-daylight-daytime-898766.jpg');

  background-attachment: fixed;
  background-size: cover;
  background-position: 80% 10%;
  height: 20%;
}
.pimg2 {
  background: url('./img-photography/section-5/aperture-blur-camera-1093065.jpg');
  background-position: 25% 0%;
  background-attachment: fixed;
}
.pimg3 {
  background: url('./img-photography/section-5/camera-close-up-dusk-1500590.jpg');
  background-position: 80% 60%;
  background-attachment: fixed;
}
.pimg4 {
  background: url('./img-photography/section-5/abstract-art-blur-240230.jpg');
  background-position: 30% 20%;
  background-attachment: fixed;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 80%;
  text-align: center;
  color: #fff;
  font-size: 27px;
  transform: translateY(-50%);
  letter-spacing: 8px;
  text-transform: uppercase;
}
/* padding very bottom */

@media (max-width: 768px) {
  .pimg1,
  .pimg2,
  .pimg3,
  .pimg4 {
    background-attachment: scroll;
  }
}

.section-5__flickr {
  width: 90%;
  margin: auto;
  text-align: center;
  padding-bottom: 25px;
}

#tipsRules div h4 {
  background: #d4d4d4;
}

#tipsRules div li {
  // margin-left: 60px;
}
